<h1>Current conditions for <%= "#{@location.city}, #{@location.state}" %></h1>


<% if @error == nil %>

<p id="temperature-display"><%= @response['current_observation']['temperature_string'] %></p>
<p id="weather-display"><%= @response['current_observation']['weather'] %></p>

<% else %>

<p id="error-message"><%= @error %></p>

<% end %>