<h1>You're new here, <%= params[:name] %>!</h1>

<%= form_for :user, url: "/create/#{params[:name]}" do |f| %>

	<p>
	<%= f.submit 'That\'s me!', id: 'submit' %>
	</p>

<% end %>

<p>
	<%= link_to "Uh... nevermind.", '/' %>
</p>